<div class=content >
    <div class="wrapper-1">
      <div class="wrapper-2">
        <h1>Thank you !</h1>
        <p>Thanks for participating in online quiz.  </p>
        <p>Plz check your scores on your college notice board  </p>
        <button class="go-home" routerLink="/welcome">
        Welcome Page
        </button>
      </div>
      <div class="footer-like">
        <p>Any qurries?
         <a href="#">plz mail us mechanicalquiz@gmail.com</a>
        </p>
      </div>
  </div>
  </div>
  
  
  
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">